#logo{
    width:280px;
    cursor:pointer;
    user-select:none;

    filter:
    drop-shadow(0 0 20px #00ff66)
    drop-shadow(0 0 50px #00ff66);

    animation:pulse 2s infinite;
}

@keyframes pulse{

0%{
transform:scale(1);
filter:drop-shadow(0 0 20px #00ff66);
}

50%{
transform:scale(1.08);
filter:
drop-shadow(0 0 40px #00ff66)
drop-shadow(0 0 80px #00ff66);
}

100%{
transform:scale(1);
filter:drop-shadow(0 0 20px #00ff66);
}

}
